Repository SENG499-S22-Company3/frontend, pull requests merged in 2022-06, with the labels that each got.

#44 Add unified Chakra color scheme
  src/App.tsx
  src/ColorModeSwitcher.tsx
  src/components/Nav.tsx
  src/pages/Generate.tsx
  src/pages/Login.tsx
  src/pages/Schedule.tsx
  src/pages/Survey.tsx
  src/theme/colors.tsx
Labels: [EPIC 9] Site Styling

#45 Adding base Calendar View to scheduler page
  .env.example
  .gitignore
  package.json
  src/components/Schedule/Appointment.tsx
  src/components/Schedule/CalendarView.tsx
  src/components/Schedule/TableView.tsx
  src/pages/Dashboard.tsx
  src/pages/Generate.tsx
  src/pages/Schedule.tsx
  src/stores/schedule.ts
  yarn.lock
Labels: [EPIC 5] Schedule page

#53 DevExtreme now uses Algorithm 1 specified object structure
  src/components/Schedule/Appointment.tsx
  src/components/Schedule/AppointmentCard.tsx
  src/components/Schedule/CalendarView.tsx
  src/mockData.json
  src/pages/Schedule.tsx
  src/stores/preferences.ts
  src/stores/schedule.ts
Labels: [EPIC 5] Schedule page

#61 Docker container build with proxy
  .dockerignore
  Dockerfile
  nginx.conf
  package.json
  src/components/Nav.tsx
  src/index.tsx
  yarn.lock
Labels: [EPIC 10] Miscellaneous

#72 Search bar
  src/components/Schedule/CalendarView.tsx
  src/components/Schedule/SearchBar.tsx
  src/pages/Schedule.tsx
Labels: [EPIC 5] Schedule page

#84 fix: Collapse nav bar to menu for small screens
  src/components/Nav.tsx
Labels: [EPIC 9] Site Styling

#86 Updated course tooltip popover
  src/components/Schedule/AppointmentTooltip.tsx
  src/components/Schedule/CalendarView.tsx
Labels: [EPIC 5] Schedule page

#88 Prep for demo on monday
  Dockerfile
  nginx.conf
  src/App.tsx
  src/components/Footer.tsx
  src/components/Nav.tsx
  src/index.tsx
  src/pages/Generate.tsx
  src/pages/Login.tsx
  src/stores/login.ts
Labels: [EPIC 10] Miscellaneous

#89 Fix Heroku complaining about reverse proxy settings
  nginx.conf
  src/components/Footer.tsx
Labels: [EPIC 10] Miscellaneous

#93 Front end now queries backend for schedule
  src/components/Schedule/CalendarView.tsx
  src/components/Schedule/SearchBar.tsx
  src/components/Schedule/TableView.tsx
  src/pages/Schedule.tsx
  src/stores/schedule.ts
  src/utils/formatDate.ts
Labels: [EPIC 5] Schedule page
