Repository SENG499-S22-Company3/frontend, pull requests merged in 2022-07, with the labels that each got.

#117 Basic schedule editing
  src/components/Schedule/AppointmentCard.tsx
  src/components/Schedule/AppointmentModal.tsx
  src/components/Schedule/AppointmentTooltip.tsx
  src/components/Schedule/CalendarView.tsx
  src/components/Schedule/SearchBar.tsx
  src/components/Schedule/TableView.tsx
  src/pages/Schedule.tsx
  src/stores/login.ts
  src/stores/schedule.ts
  src/utils/weekdayConversion.ts
  src/utils/weekdayToInt.ts
Labels: [EPIC 5] Schedule page

#118 Added capacity to editing modal
  src/components/Schedule/AppointmentModal.tsx
  src/components/Schedule/AppointmentTooltip.tsx
Labels: [EPIC 5] Schedule page

#120 Drag and drop
  src/components/Schedule/AppointmentModal.tsx
  src/components/Schedule/CalendarView.tsx
  src/components/Schedule/SearchBar.tsx
  src/pages/Schedule.tsx
  src/utils/weekdayConversion.ts
Labels: [EPIC 5] Schedule page

#133 Preparing schedule for demo
  src/components/Schedule/AppointmentCard.tsx
  src/components/Schedule/AppointmentTooltip.tsx
  src/components/Schedule/CalendarView.tsx
  src/components/Schedule/SearchBar.tsx
  src/components/Schedule/TableView.tsx
  src/pages/Schedule.tsx
  src/stores/schedule.ts
  src/utils/formatDate.ts
Labels: [EPIC 5] Schedule page

#136 Demo hotfixes
  src/components/Schedule/AppointmentCard.tsx
  src/components/Schedule/CalendarView.tsx
  src/components/Schedule/SearchBar.tsx
  src/components/Schedule/TableView.tsx
  src/components/SurveyCourseList.tsx
  src/pages/Generate.tsx
  src/pages/Schedule.tsx
  src/stores/schedule.ts
Labels: [EPIC 5] Schedule page

#144 feat: support JWT auth and cookie auth
  src/components/Nav.tsx
  src/index.tsx
  src/pages/Login.tsx
  src/stores/login.ts
Labels: [EPIC 10] Miscellaneous

#147 fix: update site description to something better
  package.json
  public/index.html
Labels: [EPIC 9] Site Styling

#164 feat: set default preference of 0
  src/components/Survey/SurveyCourseList.tsx
  src/pages/Survey.tsx
  src/stores/preferences.ts
Labels: [EPIC 3] Teacher preferences survey page

#165 Calendar styling
  public/index.html
  public/styles/dx.dark.css
  public/styles/dx.light.css
  public/styles/icons/dxicons.ttf
  public/styles/icons/dxicons.woff
  public/styles/icons/dxicons.woff2
  public/styles/icons/dxiconsmaterial.ttf
  public/styles/icons/dxiconsmaterial.woff
  public/styles/icons/dxiconsmaterial.woff2
  src/App.tsx
  src/components/Footer.tsx
  src/components/Schedule/AppointmentCard.tsx
  src/components/Schedule/CalendarView.tsx
  src/components/Schedule/SearchBar.tsx
  src/pages/Generate.tsx
  src/pages/Professors.tsx
  src/pages/Schedule.tsx
  src/stores/schedule.ts
  src/utils/formatDate.ts
  src/utils/userToColor.ts
Labels: [EPIC 5] Schedule page

#159 feat: Update generate page
  src/components/Nav.tsx
  src/components/ProfileManagement/CreateUser.tsx
  src/pages/Generate/courseTerms.json
  src/pages/Generate/index.tsx
  src/pages/Login.tsx
  src/pages/Professors.tsx
  src/pages/Survey.tsx
Labels: [EPIC 4] Admin dashboard epic

#168 fix: redirect to sane home page when logged in
  src/App.tsx
  src/components/Survey/SurveyCourseList.tsx
  src/pages/Generate/index.tsx
Labels: [EPIC 10] Miscellaneous

#167 Edit mutation
  src/components/Schedule/AppointmentModal.tsx
  src/components/Schedule/AppointmentTooltip.tsx
  src/components/Schedule/CalendarView.tsx
  src/components/Schedule/SubmitButton.tsx
  src/pages/Schedule.tsx
  src/stores/schedule.ts
Labels: [EPIC 5] Schedule page

#179 fix date year and table width
  src/components/Schedule/TableView.tsx
  src/pages/Schedule.tsx
  src/utils/formatDate.ts
Labels: bug

#180 Table editing bugs
  src/components/Schedule/TableView.tsx
  src/utils/formatDate.ts
Labels: bug

#177 Fix the logic for filtering courses by term
  src/pages/Generate/index.tsx
Labels: bug

#178 Add term to determine course uniqueness
  src/components/Survey/SurveyCourseList.tsx
Labels: bug

#182 Calendar filters bugs
  src/components/Schedule/AppointmentTooltip.tsx
  src/components/Schedule/SearchBar.tsx
  src/components/Schedule/SubmitButton.tsx
  src/components/Schedule/TableView.tsx
  src/pages/Schedule.tsx
Labels: bug

#184 Submission modal
  src/components/Schedule/SubmitButton.tsx
  src/pages/Schedule.tsx
Labels: [EPIC 5] Schedule page

#186 fixed 404 page visibility
  src/App.tsx
Labels: bug

#191 feat: thank you message after submitting survey
  src/pages/Survey.tsx
Labels: [EPIC 3] Teacher preferences survey page
